@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
  font-family: 'Inter', sans-serif;
}

* {
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -webkit-user-select: none;
  user-select: none;
}

input, textarea {
  -webkit-user-select: text;
  user-select: text;
}
